{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Annonces
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Liste des annonces</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix (€)</th>
                    <th scope="col">Category</th>
                    <th scope="col">Creationdate</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for annonce in annonces if annonce.unable %}
                <tr>
                    <td><a href="{{ path('annonces_show', { 'id': annonce.id }) }}">{{ annonce.id }}</a></td>
                    <td>{{ annonce.name }}</td>
                    <td>{{ annonce.description }}</td>
                    <td>{{ annonce.prix }}
                    <td>
                        {% if annonce.category %}
                            {{ annonce.category.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if annonce.creationDate %}
                            {{ annonce.creationDate|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('annonces_show', { 'id': annonce.id }) }}"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('annonces_edit', { 'id': annonce.id }) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="btn-group-vertical">
            <a href="{{ path('annonces_new') }}" class="btn btn-secondary">Create a new annonce</a>
        </div>
    </div>
{% endblock %}
